﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div class="design2-container" id="categories" data-aos="fade-in" data-aos-delay="200">
    <div class="design2-wrapper">
        <div class="row justify-content-center pt-1">
            <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
                <a href="menu" class="">Boba Milk Tea</a>
            </div>
            <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
                <a href="cheesecake" class=" ">Cheesecake</a>
            </div>
            <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
                <a href="milkshake" class="">Milkshake</a>
            </div>
            <div class="col-lg-2 d-flex flex-row justify-content-center pt-2 ">
                <a href="fruitshake" class=" ">Fruit Shake</a>
            </div>
            <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
                <a href="frappe" class="category-active">Frappe</a>
            </div>
        </div>

    </div>
</div>


<section id="hero" class="d-flex ">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Frappe Series</h1>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#product" class="btn-get-started scrollto">Browse <i class="bi bi-arrow-down"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/assets/img/frappe.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<section id="hero">

    <div class="row justify-content-center pt-1" id="product">
        <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
            <div class="_card">
                <img src="~/assets/img/product/CAFEMOCHA.png" class="card-img-top" alt="...">
                <div class="_card-body">
                    <div class="card_title">Coffee Jelly</div>
                    <p class="card-price">P120.00</p>
                    <a href="#" class="btn card-btn"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
            <div class="_card">
                <img src="~/assets/img/product/JAVACHIPFRAPPE.png" class="card-img-top" alt="...">
                <div class="_card-body">
                    <div class="card_title">Java Chip</div>
                    <p class="card-price">P120.00</p>
                    <a href="#" class="btn card-btn"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
            <div class="_card">
                <img src="~/assets/img/product/CAFEMOCHA.png" class="card-img-top" alt="...">
                <div class="_card-body">
                    <div class="card_title">Cafe Mocha</div>
                    <p class="card-price">P120.00</p>
                    <a href="#" class="btn card-btn"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-row justify-content-center pt-2">
            <div class="_card">
                <img src="~/assets/img/product/JAVACHIPFRAPPE.png" class="card-img-top" alt="...">
                <div class="_card-body">
                    <div class="card_title">Vanilla</div>
                    <p class="card-price">P120.00</p>
                    <a href="#" class="btn card-btn"><i class="bi bi-cart-plus-fill"></i></a>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Hero -->
