﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex ">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1><b style="color:black">Make your mornings better and nights longer with </b> Bean there, done that.</h1>
                    <br />
                    <h2 style="color:black">Sourced locally, made with quality.</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Scoop <i class="bi bi-arrow-down"></i></a>
                        <a href="/Menu/Boba" class="btn-get-started scrollto mx-4">Menu <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section><!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section class="about" id="about">
    <div class="container aos-init aos-animate" data-aos="fade-up"> 
        <div class="section-title">
            <p>About Us</p>
        </div>
        <div class="row content justify-content-center text-center" id="about">
            <div class="col-lg-4 pt-lg-0 text-center">
                <p>
                    Sourced locally, made with quality. Our handcrafted Coldbrew coffee uses all-natural ingredients with no artificial flavorings.
                </p>
                <a href="#strawberry" class="btn-learn-more">Cold Brew <i class="bi bi-arrow-down"></i></a>
            </div> 
            <div class="col-lg-4 pt-4 pt-lg-0 text-center">
                <p>
                    Coffee beans sourced from formars all over the country.
                    We offer coffee beans varying from over 11 different taste and flavors.
                </p>
                <a href="#strawberry" class="btn-learn-more">Coffee Beans <i class="bi bi-arrow-down"></i></a>
            </div>
        </div> 
    </div>
</section> 
<section id="hero">
    <div class="row" id="stickyArabica">
        <div class="col-lg-6">
            <img id="arabica" src="~/assets/img/arabica long.png" class="img-fluid">
        </div>
        <blockquote id="arabicaDesc" style="position:absolute; width:50%; margin-top:15%; margin-left:50%;">
            <h1 style="font-size: 2.3em;">Classic Arabica</h1>
            <h2 style="font-size: 1.3em;">Enjoyed by many coffee connoisseur, arabica beans has a nutty, fruity, sweet, and soft taste. It is surely a best buy for those who want pleasure from their cup.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="milkshake" class="btn-get-started scrollto">See more</a>
            </div>
        </blockquote>
    </div>
    <div class="row" id="stickyRobusta">
        <blockquote id="robustaDesc" style="position:absolute; width:50%; margin-top:15%; margin-right:50%;">
            <h1 class="right" style="font-size: 2.3em;">Classic Robusta</h1>
            <h2 class="right" style="font-size: 1.3em;">
                One of the pioneers, Robusta is the second most popular coffee on the world market. Robusta coffee has a strong and deep flavor. Robusta beans contains the highest caffeine content among the other beans.
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-end">
                <a href="milkshake" class="btn-get-started scrollto">See more</a>
            </div>
        </blockquote>
        <div class="col-lg-6 order-1 order-lg-1 hero-img-right">
            <img id="robusta" src="~/assets/img/robusta halved2.png" class="img-fluid right">
        </div>
    </div>
</section>     


 